body {
    background: #10101B;
    height: 100vh;
}
.container {
    margin-top: 40px;
}

.half-wide-pin ,.half-wide-input   {
    height: 600px;
    background: #222436;
    padding: 40px;
    color: white;
    text-align: center;
}
