body {
    background: #10101B;
    height: 100vh;
}
.container {
    margin-top: 20px;
}

.half-wide-pin ,.half-wide-input   {
    height: 550px;
    background: #525258;
    padding: 30px;
    color: white;
    text-align: center;
}

input[type='text']{
    background-color: #5f6270;
    padding: 10px 0px;
    color: #ffffff;
    width: 80%;
    margin: 0 auto;
    border: 2px solid #858299;
    height: 50px;
    padding: 10px;
}
input[type='text']:focus {
    background-color: #848794;
    color: #fff;
    font-size: 20px;
}



#pin ,#input-pin{
    text-align: center;
}
.numbers {
    margin: 25px ,0;
    padding-top: 15px;
}


.calc-button-row {
    width: 100%;

}
.button{
    width: 20%;
    background:rgb(163, 160, 160);
    color: white;
    padding: 12px;
    margin: 5px;
    display: inline-block;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    cursor: pointer;
    
}

.button:hover{
    background:rgb(223, 222, 222);
    color: black;
}
.submit-btn{
    margin-top: 15px;
    padding: 10px 100px;
    border-radius: 10px;
    background: rgb(59, 41, 32);
    color:white;
    font-size: 20px;
    border: none;
}
.submit-btn:hover{
    background:rgb(61, 2, 2);
}

/* generate pin   */

.generate-pin{
    margin-top: 140px;
    width: 180px;
    padding: 50px;
    border-radius: 50%;
    border: 8px solid rgb(40, 40, 199) ;
    background-color:  rgb(105, 105, 196);
    color: cornsilk;
    font-weight: bold;
    font-size: 20px;
    font-size: 30;
    text-align: center;
   
}
.generate-btn:focus{
    outline: none;
    box-shadow: none;
}
.generate-pin:hover{
    background-color: darkblue;
}

#pin:read-only{
    background-color: #3D4153;
    font-size: 20px;
    text-align:center;
}

.notify {
    color: #fff;
    text-align: center;
    margin: 0 auto;
    background: #222436;
    margin-top: 20px;
    border-radius: 15px;
    padding: 5px 20px;
    display:none;
}
.notify-section{
    width: 35%;
    margin: 0 auto;
}
.action-left {
    color: #FF3C5F;
    margin-top: 10px;
}

#warning{
    display: none;
}


