body {
    background: #10101B;
    height: 100vh;
}
.container {
    margin-top: 40px;
}

.half-wide-pin ,.half-wide-input   {
    height: 650px;
    background: #525258;
    padding: 40px;
    color: white;
    text-align: center;
}
input[type='text']:focus {
    background-color: #3D4153;
    color: #fff;
    font-size: 20px;
}
.numbers {
    margin: 25px ,0;
}


.calc-button-row {
    width: 100%;

}
.button{
    width: 20%;
    background:rgb(163, 160, 160);
    color: white;
    padding: 20px;
    margin: 5px;
    display: inline-block;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    cursor: pointer;
    
}

.button:hover{
    background:rgb(223, 222, 222);
    color: black;
}
.submit-btn{
    margin-top: 20px;
    padding: 10px 100px;
    border-radius: 10px;
    background: rgb(59, 41, 32);
    color:white;
    font-size: 20px;
    border: none;
}
.submit-btn:hover{
    background:rgb(61, 2, 2);
}
